@using Lab2.Models.ViewModels

@model InstructorVM
@{
    ViewData["Title"] = "Add_Instructor";
    SelectList options = new SelectList(Model.departments, "Department_ID", "Dep_Name");
}

<h1>Add_Instructor</h1>

<form action="/Instructor/SaveAdded/" method="post">

    <div>
        <label asp-for="Inst_Name"></label>
        <input asp-for="Inst_Name" class="form-control" />
    </div>

    <div>
        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control" />
    </div>

    <div>
        <label asp-for="Adress"></label>
        <input asp-for="Adress" class="form-control" />
    </div>

    <div>
        <label asp-for="salary"></label>
        <input asp-for="salary" class="form-control" />
    </div>

    <div>
        <label>Course</label>
        <select name="Course_id">
            @foreach (Course course in Model.courses)
            {
                <option value="@course.Course_ID">@course.Course_Name</option>
            }
        </select>
    </div>

    <div>
        <label asp-for="Dep_ID">Department</label>
        <select asp-for="Dep_ID" asp-items="@options" class="form-select">
            <option value="">-- Select Department --</option>
        </select>
    </div>

    <input type="submit" value="Save" class="btn btn-success" />
</form>
